{% extends 'starter.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!-- <h1>General Form</h1> -->
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">product-attributes </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6" style="position: relative;left: 300px;">
                    <!-- general form elements -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title" style="position: relative;left: 150px;"> Add Product Attributes </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="{% url 'custom_admin:product_attribute_form' %}" method="post"enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name"> name</label>
                                    {{ form.name }}
                                </div>
                                <!-- <div class="form-group">
                                    <label for="created_by">created_by</label>
                                    {{ form.created_by }}
                                </div>
                                <div class="form-group">
                                    <label for="created_date">created_date</label>
                                    {{ form.created_date }}
                                </div>
                                <div class="form-group">
                                    <label for="modify_by">modify_by</label>
                                    {{ form.modify_by }}
                                </div>
                                <div class="form-group">
                                    <label for="modify_date">modify_date</label>
                                    {{ form.modify_date }}
                                </div> -->

                               

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        setNavBar()
    });

    // set navebar
    function setNavBar() {
        $(".nav-link").removeClass("active")
        $(".productsattributes-menu").addClass("active")
    }
</script>
{% endblock %}