<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'header.html' %}
</head>

<body>
    <form action="{% url 'custom_admin:bannersform' %}" method="POST" enctype="multipart/form-data">
        <div style="margin: 350px; position: relative; bottom: 260px;left: 150px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="submit" class="save btn btn-default" name="ForSave" >Save</button>
            
        </div>
    </form>
</body>
{% include 'footer.html' %}

</html>