<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'header.html' %}
</head>

<body>
    <section>
        <div style="margin: 350px;position: relative; bottom: 260px;left: 150px;" class="col-sm-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </section>


</body>

{% include 'footer.html' %}

</html>