{% include 'userheader.html' %}
{% load static %}


<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="quantity">Quantity</td>
						<td class="price">Price</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for j,k in cart_data.items %}
					<tr>
						<td class="cart_product">
							<a href=""><img src="{{k.image}}" alt=""></a>
						</td>
						<td>
							<input type="number" value="{{k.qty}}" style="vertical-align:bottom;">
							
						</td>
						<td>$</td>
						<td>$</td>
					
					</tr>
				{% endfor %}
             </tbody>
			</table>
		</div>
	</div>
</section>
<!--/#cart_items-->

{% include 'userfooter.html' %}